[Desktop Entry]
Type=Application
Name=Qt Ponies
GenericName=Implementation of DesktopPonies
Comment=Ponies on your desktop
Exec=qt-ponies %U
Icon=qt-ponies
Terminal=false
Categories=Utility;DesktopUtility;
